<h3><%= flash[:notice] %></h3>

<p></p>
<div id="innercontainer">

<h1>Log in to OneTeam</h1>

<%= form_tag sessions_path do %>
  <div class="field">
  	<%= label_tag :email %>
  	<%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
  	<%= label_tag :password %>
  	<%= password_field_tag :password %></br>
  </div>

  <div class="remember">
    <% check_box_tag :remember_me, 1, params[:remember_me] %>
    <% label_tag :remember_me %>
  </div>

<div class="field">
  <div class="login">
    <%= submit_tag 'Log in' %>
  </div>
  <% end %>
    <%= link_to "Forgot your password?", new_password_reset_path %>
</div>

<p>New to OneTeam?
<%= link_to 'Sign up on OneTeam', new_employee_path %>
</p>

