<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  _my_requests_path %></li>
    <li><%= link_to 'Developer Assignments', commissions_path %></li>
    <li id="selected"><%= link_to 'Update My Profile', edit_employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">
</br>
  <%= link_to 'View My Profile', @employee %> 

  <h1>Update Profile</h1>

  <%= form_for(@employee) do |f| %>
    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label 'Office' %><br />
      <%= f.select :location, ['Boston', 'Chicago', 'Los Angeles', 'Bentonville', 'Ontario', 'Tokyo', 'London', 'Paris'], :selected => 'Boston' %>
    </div>
    <div class="field">
      <%= f.label :department %><br />
      <%= f.select :department, ['IT', 'HR', 'Marketing', 'Research', 'QA', 'Sales'], :selected => 'IT' %>
    </div>
    <div class="field">
      <%= f.label :group %><br />
      <%= f.select :group, ['Development', 'Strategy', 'Management'], :selected => 'Development' %>
    </div>
    <div class="field">
      <%= f.label 'Job title' %><br />
      <%= f.text_field :position %>
    </div>
    <div class="field">
      <%= f.label 'Supervisor' %><br />
      <%= f.text_field :manager %>
    </div>
    <div class="field">
      <%= f.label :years_with_company %><br />
      <%= f.number_field :years_with_company %>
    </div>

    <div class="field">
      <%= f.label :skills %><br />
      <%= f.text_field :skills %>
    </div>
    <div class="field">
      <%= f.label :skills_interested_in %><br />
      <%= f.text_field :skills_interested_in %>
    </div>
    <div class="actions">
      <%= f.submit 'Update Profile' %>
    </div>
  <% end %>


</div>