<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  _my_requests_path %></li>
    <li><%= link_to 'Developer Assignments', commissions_path %></li>
    <li id="selected"><%= link_to 'Update My Profile', edit_employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">
</br>

  <h1>Update Profile</h1>

  <%= render 'form' %>

</div>
 