
<h1>Listing employees</h1>

<%= paginate @employees %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Years w/ Company</th>
    <th>Manager</th>
    <th>Position</th>
    <th>Department</th>
    <th>Group</th>
    <th>Location</th>
    <th>Skills</th>
    <th>Skills interested in</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= employee.id %></td>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.years_with_company %></td>
    <td><%= employee.manager %></td>
    <td><%= employee.position %></td>
    <td><%= employee.department %></td>
    <td><%= employee.group %></td>
    <td><%= employee.location %></td>
    <td><%= employee.skills %></td>
    <td><%= employee.skills_interested_in %></td>
    <% if author? %>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div>    
<%= link_to 'Back to Requests', requests_path %>
</div>