<p id="notice"><%= notice %></p>

<div id="innercontainer">
<h1>Employees List</h1>

<%= paginate @employees %>
<table>
  <tr>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Email</th>

  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id %></td>
    <td><%= employee.first_name %> <%= employee.last_name %></td>
    <td><%= employee.email %></td>
    <td><%= link_to 'Show', employee %></td>
    <% if owner? (employee) %>
      <td><%= link_to 'Update Profile', edit_employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div>    
<%= link_to 'Back to Requests', requests_path %>
</div>
</div>