<p></p>
<div id="innercontainer">

<h1>Sign up for you OneTeam Account</h1>

<%= hidden_field_tag "employee[current_skills][]", "" %>
<%= hidden_field_tag "employee[skills_interested_in][]", "" %>

<%= form_for(@employee) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="lnfield">
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  </div>
  <div class="newfirst">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="passfld">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
 <div class="newsecond">
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.hidden_field :current_skills, :value => "" %>
      <%= f.hidden_field :skills_interested_in, :value => "" %>
</div>
 
<div class="newsub">
 <div class="actions">
    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <div class="emp-cancel-new">
      <%= f.submit 'Cancel', :action => 'create', :name => 'cancel_button' %>
    </div>
  </div>
</div>
<% end %>

</div>