<h1>Sign up for you OneTeam Account</h1>

<%= simple_form_for @employee do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password, hint: 'at least 5 characters' %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Create my OneTeam Account" %> 
  <%= f.submit 'Cancel' %>
<% end %>