<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  _my_requests_path %></li>
    <li id="selected"><%= link_to 'My Profile', employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">

<div id="profile_pic">
  <%= link_to 'Update My Profile', edit_employee_path(current_employee) %> </br>

<%= image_tag @employee.image_url, :height => 100 %>

</div>
<div id = "profile">
<ul>
  <li>First Name: <%= @employee.first_name %></li>
  <li>Last Name: <%= @employee.last_name %></li>
  <li>Email: <%= @employee.email %></li>
  <li>Office: <%= @employee.location %></li>
  <li>Department: <%= @employee.department %></li>
  <li>Group: <%= @employee.group %></li>
  <li>Job Title: <%= @employee.position %></li>
  <li>Immediate Supervisor: <%= @employee.manager %></li>
  <li>Years with Company: <%= @employee.years_with_company %></li>
</ul>

<ul>
  <li>Current Skills: <%= @employee.skills %></li>
  <li>Desired Skills: <%= @employee.skills_interested_in %></li>
</ul>

<ul>
  <li>Short Description about <%= @employee.first_name %>: <%= @employee.description %></li>
</ul>

<ul>
  <li>Projects I've Worked on:</li>
  <li>code to list projects  </li>
  <li>Request Title: Start date to End Date (Status)  </li>
  <li>Request Description:   </li>
</ul> 

</div>
</div>