<%= hidden_field_tag "request[relevant_skills][]", "" %>

<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id = "field">
  <ul>
    <li class = "inline"><%= f.label :title %></li>
    <li><%= f.text_field :title %></li>
  <ul>  
</div>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "40x6" %>
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
   
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
    <%= f.label :relevant_skills %>
     <% @skills.each do |skill| %>
    <div class = "inbox">
       <%= check_box_tag "relevant_skills[]", skill.language, @request.relevant_skills.include?(skill.language) %>
       <%= skill.language %>
    </div> 
     <% end %>
     </div>  
    <%= f.label :group %><br />
    <%= f.select :group, ['Development', 'Strategy'] %>
    <%= f.label :location, "Office" %><br />
    <%= f.select :location, ['NY', 'AR', 'IL', 'UK', 'CA'] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p></p>