<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :employee_id, :value => current_employee.id %><br />
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Please describe your request below:" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :status, :value => 'open' %>
  </div>
  <div class="field">
    <%= f.label :start_date %> (YYYY/MM/DD)<br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %> (YYYY/MM/DD)<br />
    <%= f.date_select :end_date %>
  </div>  
  <div class="field">
    <%= f.label :group %><br />
    <%= f.select :group, ['Development', 'Strategy', 'Management'], :selected => 'Development' %>
  </div>
  <div class="field">
    <%= f.label 'Office' %> <br />
    <%= f.select :location, ['Boston', 'Chicago', 'Los Angeles', 'Bentonville', 'Ontario', 'Tokyo', 'London', 'Paris'], :selected => 'Boston' %>
  </div>
  <div class="actions">
    <%= f.submit "Save Request" %>
  </div>
<% end %>
<div id="button">
 <p><%= link_to 'Cancel', requests_path %></p>
</div>