<%= simple_form_for(@request) do |f| %>
<%= hidden_field_tag "employee[required_skills][]", "" %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :description, as: :text, :input_html => { :class => 'textarea'}  %>
  <%= f.input :start_date, as: :string %>
  <%= f.input :end_date, as: :string %>

  <%= f.input :group, :collection => ['Development', 'Strategy', 'Management'], :wrapper_html => { :class => "inline"} %>
  <%= f.input :location, :collection => ['Boston', 'Chicago', 'Los Angeles', 'Bentonville', 'Ontario', 'Tokyo', 'London', 'Paris' ], :wrapper_html => { :class => "inline"} %></br></br>

  <%= f.input :required_skills, :collection => ['PHP', 'MySQL', 'C#', 'Apache', 'Ruby on Rails', 'SQL Server', 'Linux'], as: :check_boxes %>

  <%= f.hidden_field :employee_id, :value => current_employee.id %>
  <%= f.hidden_field :status, :value => 'open' %>
  <%= f.error :base %>
  <%= f.button :submit %> 
  <%= f.submit 'Cancel' %>
<% end %>
<p></p>