<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li id="selected"><%= link_to "Cancel My Request" %></li>
    <li><%= link_to "Requests I've Posted", 'my_requests' %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>     
  </ul>
</div>

<div id="innercontainer">

<div id="question">
	<p>Are you sure you want to cancel this request?</p>
</div>

<p>
  <b>Request:</b> <%= @request.title %> (<%= @request.start_date %> to <%= @request.end_date %>)
</p>
<p>
  <%= @request.description %>
</p>
<p>
  <b>Relevant Skills:</b> <%= @request.relevant_skills %>
</p>

<%= form_for(@request) do |f| %>

  <%= f.hidden_field :status, :value => 'Cancelled' %>

  <div class="actions">
    <%= f.submit 'Cancel Request', :action => 'update' %>
  </div>
<% end %>
<%= link_to 'Go Back', 'my_requests' %> (without Cancelling Request)
<p></p>

</br>

</div>