<p id="notice"><%= notice %></p>

<div id="tabs">
  <ul>
    <li id="selected"><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted", 'my_requests' %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">

<h1>All Requests</h1><%= link_to "View Calendar", 'requests_calendar' %>

<div id="requests">
<%= paginate @requests %>
<% @requests.each do |request| %>
    <%= image_tag "divider-line.jpg" %>
  <p><b><%= request.title %></b>
        <%= request.start_date %> to <%= request.end_date %> (Status: <%= request.status %>)</p>
        Posted by: <%= request.employee.first_name %> <%= request.employee.last_name %> in <%= request.employee.location %> Office (Group: <%= request.employee.group %>)</br>
        Description: <%= request.description %>
  </p>
    
<% applied = 0 %>
<% commissions = request.get_commissions %>
<% if commissions.blank? == false %>
  <div id = "note"><%= "Developer already selected" %></div> 
<% else %>
  <% if author? (request) %>
    <div id = "note"><%= "You posted this request." %></div>
  <% else %>
    <% responses = request.get_responses %>
    <% responses.each do |response| %>     
      <% if response.employee_id == current_employee.id %>
        <div id = "no-click-button" ><%= "Applied" %></div>
        <% applied = 1 %>
      <% end %>
    <% end %>
    <% if applied == 0 %>
      <div id = "button"><%= link_to "Apply", new_request_response_path(request) %></div>
    <% end %>
  <% end %>
<% end %>

</br>
</br>
<% end %>
</div>