

<h1>All Requests</h1>

<b><%= flash[:notice] %></b>
<p>
  <%= link_to 'My Profile', edit_employee_path(current_employee) %>
</p>  
<p>
<%= link_to 'Create a New Request', new_request_path %>
</p>
<p>
<%= link_to 'View Developer Assignments', commissions_path %>
</p>

<%= paginate @requests %>
<table class="table">
  <tr>
    <th>Request Description</th>
    <th>Status</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>

<% @requests.each do |request| %>
  <tr >
    <td><%= request.description %></td>
    <td><%= request.project_status %></td>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <td><%= link_to 'Details', request %></td>
    <td><%= link_to 'Apply', new_request_response_path(request) %></td>
    <% if author? (request)%>
      <td><%= link_to 'Edit', edit_request_path(request, @response) %></td>
      <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Select volunteer', request_responses_path(request) %></td>
    <% end %>
  </tr>
<% end %>
</table>
</br>