<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li id="selected"><%= link_to "Requests I've Posted" %></li>
    <li><%= link_to 'Developer Assignments', commissions_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>     
  </ul>
</div>

<div id="innercontainer">

<h3>
  Requests I've Posted:
</h3>

<%= paginate @requests %>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>

<% @requests.each do |request| %>
  <% if author? (request)%>
  <tr >
    <td><%= request.title %></td>
    <td><%= request.description %></td>
    <td><%= request.project_status %></td>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <td><%= link_to 'Details', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request, @response) %></td>
    <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Select volunteer', request_responses_path(request) %></td>
  <% end %>
  </tr>
<% end %>
</table>
</br>
</div>