<h1>New request</h1>

<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</p>

<p>
	<%= f.label :status %><br />
	<%= f.text_field :status %>
</p>

<p>
  <%= f.label :start_date %><br />
  <%= f.text_field :start_date %>
</p>

<p>
  <%= f.label :end_date %><br />
  <%= f.text_field :end_date %>
</p>

<p class ="button"><%= f.submit %></p>
<% end %>

<%= link_to 'Go Back Without Submitting', requests_path %>

