<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
  	<li id="selected"><%= link_to 'New Request' %></li>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  'my_requests' %></li>
    <li><%= link_to 'Developer Assignments', commissions_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li> 
  </ul>
</div>

<div id="innercontainer">

  <h1>Create New Request</h1>
  <%= render 'form' %>
</div>