<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
  	<li id="selected"><%= link_to 'New Request' %></li>
    <li><%= link_to 'All Requests', requests_path %></li>
    <li><%= link_to "Requests I've Posted",  _my_requests_path %></li>
    <li><%= link_to 'Developer Assignments', commissions_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li> 
  </ul>
</div>

<div id="innercontainer">

<p>
  <b>Request ID:</b> <%= @request.id %>
</p>

<p>
  <b>Requestor:</b> <%= Employee.find_by_id(@request.employee_id).first_name %> <%= Employee.find_by_id(@request.employee_id).last_name %>
</p>

<p>
  <b>Description:</b> <%= @request.description %>
</p>

<p>
  <b>Start Date:</b> <%= @request.start_date %>
</p>

<p>
  <b>End Date:</b> <%= @request.end_date %>
</p>

<p>
  <b>Status:</b> <%= @request.status %>
</p>

</div>