<p id="notice"><%= notice %></p>

<p>
  <b>Request ID:</b>
  <%= @request.id %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Status:</b>
  <%= @request.status %>
</p>

<%= link_to 'Edit Request', edit_request_path(@request) %> |
<%= link_to 'Back to Requests', requests_path %> |

