
<h1>Responses to request <%= @request.id %>:</h1>
<h4>"<%= @request.description %>"</h4>


<table>
  <tr>
    <th>Request</th>
    <th>Employee </th>
    <th>Comment</th>

  </tr>

    <% @responses.each do |response| %>
      <tr >
       <td><%= response.request_id %></td>
       <td><%= link_to response.employee_name, employee_path(response.employee_id) %></td>
       <td><%= response.comment %></td> 
       <% if author? (request)%> 
         <td><%= link_to 'Select This Developer', new_response_commission_path(response) %></td>    
       <% end %>    
      </tr>
      <% end %>
      </table>
<%= paginate @responses %>    
<div>    
<%= link_to 'Go to Requests', requests_path %>
</div>