
<h1>Listing responses</h1>

<%= paginate @responses %>
<table>
  <tr>
    <th>Request</th>
    <th>Employee Name</th>
    <th>Employee Profile</th>
    <th>Comment</th>
    <% if author? %>
      <th>Assign Developer to Request</th>
      <th>Delete</th>
    <% end %>
  </tr>

    <% @responses.each do |response| %>
      <tr >
       <td><%= response.request_id %></td>
       <td><%= response.employee_name %></td>
       <td><%= link_to 'Profile', employee_path(response.employee_id) %></td>
       <td><%= response.comment %></td>    
       <% if author? %>
         <td><%= link_to 'Select This Developer', new_response_commission_path(response) %></td>
         <td><%= link_to 'Delete Response', [@request, @response], method: :delete, data: { confirm: "Are you sure?" } %></td>
       <% end %>
      </tr>
      <% end %>
      </table>
    
<div>    
<%= link_to 'Back to Requests', requests_path %>
</div>