<%= form_for(@commission) do |f| %>
  <% if @commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% @commission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--will want to go through and update this later-->
  <div class="field">
    <%= f.label :response_id %><br />
    <%= f.number_field :response_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
