<% content_for :side do %>
  <h4>Side Bar Header for Commissions</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmud tempor incididunt ut labore et dolore magna alique.
  </p>
<% end %>

<h1>Listing commissions</h1>

<table>
  <tr>
    <th>Response ID</th>
    <th>Employee ID</th>
    <th>Request ID</th>
    <th>Comment</th>

    <th></th>
  </tr>

<% @commissions.each do |commission| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= commission.response_id %></td>
    <td><%= commission.employee_id %></td>
    <td><%= commission.request_id %></td>
    <td><%= commission.comment %></td>
    <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to Requests', requests_path %>
