<h1>Listing commissions</h1>

<table>
  <tr>
    <th>Response ID</th>
    <th>Employee ID</th>
    <th>Request ID</th>
    <th>Comment</th>

    <th></th>
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.response_id %></td>
    <td><%= commission.employee_id %></td>
    <td><%= commission.request_id %></td>
    <td><%= commission.comment %></td>
    <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to Requests', requests_path %>
