<h1>Listing commissions</h1>

<table>
  <tr>
    <th>Response ID</th>
    <th>Employee ID</th>
    <th>Request ID</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.response_id %></td>
    <td><%= commission.employee_id %></td>
    <td><%= commission.request_id %></td>
    <td><%= commission.comment %></td>
    <td><%= link_to 'Show', response_commission_path(commision) %></td>
    <td><%= link_to 'Edit', edit_response_commission_path(response, @commission) %></td>
    <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commission', new_response_commission_path(@commission) %>
