<h1>Listing commissions</h1>

<table>
  <tr>
    <th>Request</th>
    <th>Developer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.request_id %></td>
    <td><%= commission.developer_id %></td>
    <td><%= link_to 'Show', commission %></td>
    <td><%= link_to 'Edit', edit_commission_path(commission) %></td>
    <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commission', new_commission_path %>
