

<h1>Developer Assignments</h1>

<%= paginate @commissions %>

<table>
  <tr>
    <th>Developer ID</th>
    <th>Developer</th>
    <th>Profile</th>
    <th>Request ID</th>
    <th>Request Description</th>
    <th>Comment to Developer</th>
    <th>Date</th>
    <% if author? %>
    <th></th>
    <% end %>
  </tr>

<% @commissions.each do |commission| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= commission.employee_id %></td>
    <td><%= commission.name %></td>
    <td><%= link_to 'Profile', employee_path(commission.employee_id) %></td>
    <td><%= commission.request_id %></td>
    <td><%= link_to 'Show Request', request_path(commission.request_id) %></td>
    <td><%= commission.comment %></td>
    <td><%= commission.created_at %></td>
    <% if author? %>
    <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>    
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to Requests', requests_path %>
