<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  'my_requests' %></li>
    <li id="selected"><%= link_to 'View Developer Assignments', commissions_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li> 
  </ul>
</div>

<div id="innercontainer">
<h1>Developer Assignments</h1>

<%= paginate @commissions %>

<table>
  <tr>
    <th>Developer</th>
    <th>Request ID</th>
    <th>Request Description</th>
    <th>Comment to Developer</th>
    <th>Date</th>
    <th></th>    
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= link_to commission.name, employee_path(commission.employee_id) %></td>
    <td><%= commission.request_id %></td>
    <td><%= link_to 'Show Request', request_path(commission.request_id) %></td>
    <td><%= commission.comment %></td>
    <td><%= commission.created_at %></td>
    <% if author? (commission) %>
      <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>